<div class="container">
  <h1 class="my-3">Bookings</h1>
  <div class="row justify-content-center">
    <div class="col-7">
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <%= image_tag booking.experience.photo_url %>
          <div class="card-product-infos mx-3">
            <h2><strong><%= booking.experience.title %></strong></h2>
            <p><strong>Date:</strong> <%= booking.date %></p>
            <p><strong>Status:</strong> <%= booking.status %></p>
            <p><strong>Price:</strong> <%= booking.experience.price %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <h1 class="my-3">Received Bookings</h1>
    <div class="row justify-content-center">
    <div class="col-7">
      <% @received_bookings.each do |received_booking| %>
      <div class="card-product">
        <%= image_tag received_booking.experience.photo_url %>
        <div class="card-product-infos mx-3">
          <h2><strong><%= received_booking.experience.title %></strong></h2>
          <p><strong>Date:</strong> <%= received_booking.date %></p>
          <p><strong>Status:</strong> <%= received_booking.status %></p>
          <div class="btn mt-3">
            <%= link_to "Fake Accept", "#", class:"btn btn-primary" %>
            <%= link_to "Fake Reject", "#", class:"btn btn-danger" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
