<div class="review-body container-fluid ms-4">
  <h1>All About <%= @user.first_name.capitalize %></h1>
  <div class="row">
    <div class="col-3 justify-content-evenly">
      <div class="user-details">
        <div class="about-card d-flex align-items-center flex-column">
          <% if @user.avatar.attached? %>
            <%= image_tag current_user.avatar, class:"avatar-larger" %>
          <% else %>
            <%= image_tag 'https://res.cloudinary.com/djqladxhq/image/upload/v1723730530/x17umayb2am44f33ixtt.png', class:"avatar-larger" %>
          <% end %>
          <h3 id="user-full-name"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h3>
          <% if @user.experiences.count > 0 %>
            <p class="badge text-bg-light" id="guide-tag">Guide</p>
            <p class="my-3">Speaks <strong>English</strong>, <strong>Mandarin</strong>, <strong>Japanese</strong></p>
          <% else %>
            <p class="badge text-bg-light" id="guide-tag">Traveller</p>
            <p class="my-3">Joined on <%= @user.created_at.strftime("%m/%d/%Y") %></p>
          <% end %>
          <div class="guide-icon-grid row justify-content-evenly w-100">
            <div class="col d-flex flex-column align-items-center guide-icon">
              <i class="fa-solid fa-bullhorn"></i>
              <h3><%= @user.reviews.count %></h3>
              <p>Reviews</p>
            </div>
            <div class="col d-flex flex-column align-items-center ">
              <i class="fa-solid fa-star"></i>
              <h3>
                <% sum = 0.0 %>
                <% @user.reviews.each do |review| %>
                  <% sum += review.rating %>
                <% end %>
                <% average = @user.reviews.size > 0 ? sum / @user.reviews.size : 0 %>
                <%= average.round(1) %>
              </h3>
              <p>Rating</p>
            </div>
            <div class="col d-flex flex-column align-items-center">
              <i class="fa-solid fa-location-dot"></i>
              <h3><%= @user.experiences.count %></h3>
              <p>Experiences</p>
            </div>
          </div>
          <hr>
          <p class="guide-intro mx-5"><%= @user.guide_intro %></p>
          <p class="guide-email mx-5"><%= @user.email %></p>
        </div>
      </div>
    </div>
    <div class="user-rev-exp col-9">
      <h3><%= @user.first_name.capitalize %>'s Reviews</h3>
      <div class="user-reviews">
        <% if @user.reviews.count > 0 %>
          <% @user.reviews.each do |review| %>
            <div class="review-card">
              <div class="review-row d-flex justify-content-between align-items-center mb-4">
                <div class="reviewer d-flex justify-content-start gap-3 align-items-center">
                  <%= image_tag 'https://res.cloudinary.com/djqladxhq/image/upload/v1723730530/x17umayb2am44f33ixtt.png', class:"avatar" %>
                  <p class="mb-0 me-3"><%= review.user.first_name %></p>
                </div>
                <p class="mb-0 me-3">
                  <% review.rating.round.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                </p>
              </div>
              <p><%= review.content %></p>
            </div>
          <% end %>
        <% else %>
          <span class="text-align-center">No reviews for <%= @user.first_name.capitalize %> yet</span>
        <% end %>
      </div>
      <h3 class="mt-3">Browse <%= @user.first_name.capitalize %>'s Experiences</h3>
      <div class="user-experiences">
        <% if @experiences.count > 0 %>
          <% @experiences.each do |experience| %>
            <div class="card-product my-3">
              <% if experience.photos.attached? %>
                <%= cl_image_tag experience.photos.to_a.first.key %>
              <% else %>
                <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU', class: 'card-image' %>
              <% end %>
              <div class="card-product-infos d-flex justify-content-between">
                <div class="info-left">
                  <h2><strong><%= experience.title %></strong></h2>
                  <p><i class="fa-solid fa-clock"></i> <%= experience.duration %> hours</p>
                </div>
              </div>
              <%= link_to '', experience_path(experience), class:"card-product-link" %>
            </div>
          <% end %>
        <% else %>
          <span class="ms-2">No Experiences for <%= @user.first_name.capitalize %> yet</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
