<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-row justify-content-center mt-3">
        <%= link_to 'Home', root_path, class: "header-item mx-3 fw-bold", style: "color: #808080; text-decoration: none;" %>
        <%= link_to 'All Experiences', experiences_path, class: "header-item mx-3 fw-bold", style: "color: #808080; text-decoration: none;" %>
        <% if user_signed_in? %>
          <%= link_to 'My Bookings', bookings_path, class: "header-item mx-3 fw-bold", style: "color: #808080; text-decoration: none;" %>
          <%= link_to 'My Profile', user_path(current_user), class: "mx-3 fw-bold", style: "color: #808080; text-decoration: none;" %>
        <% else %>
        <% end %>
        <%= link_to 'Offer your Experience', new_experience_path, class: "header-item mx-3 fw-bold", style: "color: #8356D1; text-decoration: none;" %>
      </div>

    <div class=" d-flex row justify-content-center mt-3 mb-3">
    <%= form_with url: experiences_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
        <button ><i class="fas fa-search no-border-radius"style="color: #8356D1"></i></button>
    <% end %>



</div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class:"avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag 'https://res.cloudinary.com/djqladxhq/image/upload/v1723730530/x17umayb2am44f33ixtt.png', class:"avatar", alt: "dropdown menu" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link position-absolute mt-3" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
