<%# Checks stylesheets 1. _user-host-pill and 2. _show-experiences %>
<div class="container">
  <%# <div class="experience-header"> %>
  <%# </div> %>
  <div>
    <%= link_to 'Back to Experiences', experiences_path, class: "lightpurple-small-btn btn btn-secondary" %>
  </div>
  <div class="experience-images-header">
    <% if @experience.photos.count === 5 %>
      <div class="image-grid">
        <% @experience.photos.each_with_index do |photo, index| %>
          <div class="image-grid-item <%= "item#{index + 1}" if index > 0 %> <%= 'main' if index == 0 %>">
            <%= image_tag photo, class: "image-item" %>
          </div>
        <% end %>
      </div>
    <% elsif @experience.photos.count === 1 %>
      <div class="single-image">
        <%= image_tag @experience.photos.first %>
      </div>
    <% else %>
      <div class="single-image">
        <%= image_tag 'https://images.pexels.com/photos/20187381/pexels-photo-20187381/free-photo-of-sapporo-fushimi-inari-shrine-in-winter.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' %>
      </div>
    <% end %>
  </div>
</div>
</div>
<div style="display: flex" class="show-page-body">
  <div class="experience-details" style="flex: 6; padding-right: 20px;">
    <h1><%= @experience.title %></h1>
    <ul style="list-style-type: none; display: flex; gap: 10px;">
      <li><%=@experience.location%> • </li>
      <li><%=@experience.duration%>Hours Duration • </li>
      <li>Experience Tag</li>
    </ul>
    <div class="experience-show-user">
      <h3 class="h3-show">About your guide</h3>
      <div class="user-host-pill grid-item">
        <img src="https://avatars.githubusercontent.com/u/74129604?v=4" alt="User Photo" class="user-host-show-photo">
        <div class="user-info">
          <h3><%= @experience.user.first_name %></h3>
          <p>Guide</p>
        </div>
        <div class="user-host-show-rating">
          <p>
            <% sum = 0.0 %>
            <% @reviews.each do |review| %>
              <% sum += review.rating %>
            <% end %>
            <% average = @reviews.size > 0 ? sum / @reviews.size : 0 %>
            <%= average > 0 ? average.round(1) : "No ratings yet"%>
          </p>
          <div class="stars">
            <% average.round.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          </div>
        </div>
        <%= link_to "", user_path(User.find(@experience.user_id)), class:"user-host-pill-link", target: "_blank" %>
      </div>
    </div>
    <div>
      <div>
        <h3 class="h3-show">Experience Higlights</h3>
      </div>
      <div>
        <ul class="experience-highlights">
          <li><%= raw "Explore the <strong>stunning</strong> landscapes of Japan's countryside, including majestic mountains and tranquil lakes." %></li>
          <li><%= raw "Immerse yourself in the <strong>rich culture</strong> with guided tours to ancient temples and local markets." %></li>
          <li><%= raw "Savor <strong>delicious</strong> local cuisine, with opportunities to try sushi-making and traditional tea ceremonies." %></li>
        </ul>
      </div>
      <div>
        <h3 class="h3-show">About your trip</h3>
      </div>
      <div>
        <p><%= @experience.content %></p>
      </div>
      <div data-controller="review">
        <%= link_to 'Add a review', '#', class: "lightpurple-small-btn btn btn-secondary mb-3", data: { action: "click->review#fire" } %>
        <div data-review-target="togglableElement" class="d-none">
          <%= render "experiences/review_form", experience: @experience, review: @review %>
        </div>
      </div>
    </div>
    <div class="container mt-3 h3-show">
      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-text">Reviewer: <%= review.user.first_name %></h5>
              <h5 class="card-title"> <% review.rating.round.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              </h5>
              <p class="card-text"><%= review.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="booking-form">
    <h3 class="my-3">Pick your Date</h3>
    <%= simple_form_for [@experience, @booking] do |f| %>
      <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <h4>Price Breakdown</h4>
      <div class="price-details row">
        <div class="price-row">
          <span id="price-heading">Price</span>
          <span id="price-num">$<%= @experience.price.round %></span>
        </div>
        <div class="duration-row">
          <span id="duration-heading">Duration</span>
          <span id="duration-num"><%= @experience.duration %> Hours</span>
        </div>
        <div class="price-row subtotal">
          <span id="price-heading">Subtotal</span>
          <span id="price-num">$<%= @experience.price.round %></span>
        </div>
      </div>
      <div class="d-grid gap-2">
        <%= f.submit 'Book Now', class: 'btn mt-2 btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
