<%# Checks stylesheets 1. _user-host-pill and 2. _show-experiences %>
<div class="container">
  <%# <div class="experience-header"> %>
  <%# </div> %>
  <div>
    <%= link_to 'Back to Experiences', experiences_path, class: 'btn btn-secondary lightpurple-small-ptn' %>
  </div>
  <div class="experience-images-header">
    <% if @experience.photos.attached? && @experience.photos.count == 5 %>
      <div class="image-grid">
        <% @experience.photos.each_with_index do |photo, index| %>
          <div class="image-grid-item <%= "item#{index + 1}" if index > 0 %> <%= 'main' if index == 0 %>">
            <%= image_tag photo, class: "image-item" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= image_tag 'https://images.pexels.com/photos/20187381/pexels-photo-20187381/free-photo-of-sapporo-fushimi-inari-shrine-in-winter.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' %>
    <% end %>
  </div>
</div>
</div>
<div style="display: flex" class="show-page-body">
  <div class="experience-details" style="flex: 6; padding-right: 20px;">
    <h1><%= @experience.title %></h1>
    <ul style="list-style-type: none; display: flex; gap: 10px;">
      <li><%=@experience.location%> • </li>
      <li><%=@experience.duration%>Days Duration • </li>
      <li>Experience Tag</li>
    </ul>
    <div class="experience-show-user">
      <h3 class="show-h3">About your guide</h3>
      <div class="user-host-pill grid-item">
        <img src="https://avatars.githubusercontent.com/u/74129604?v=4" alt="User Photo" class="user-host-show-photo">
        <div class="user-info">
          <h3><%= @experience.user.first_name %></h3>
          <p>Guide</p>
        </div>
        <div class="user-host-show-rating">
          <p>4.7</p>
          <div class="stars">
            &#9733;&#9733;&#9733;&#9733;&#9733;
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h3>About your trip:</h3>
      </div>
      <div>
        <p><%= @experience.content %></p>
      </div>
    </div>
  </div>
  <div class="booking-form">
    <h3 class="my-3">Pick your Date</h3>
    <%= simple_form_for [@experience, @booking] do |f| %>
      <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <h4>Price Breakdown</h4>
      <div class="price-details row">
        <div class="price-row">
          <span id="price-heading">Price</span>
          <span id="price-num">$<%= @experience.price.round %></span>
        </div>
        <div class="duration-row">
          <span id="duration-heading">Duration</span>
          <span id="duration-num"><%= @experience.duration %> Hours</span>
        </div>
        <div class="price-row subtotal">
          <span id="price-heading">Subtotal</span>
          <span id="price-num">$<%= @experience.price.round %></span>
        </div>
      </div>
      <div class="d-grid gap-2">
        <%= f.submit 'Book Now', class: 'btn mt-2 btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
